body    {
    margin: 0;
    padding: 0;
}

ul  {
    list-style: none;
}

li  {
    display: inline-block;
}

/* HEADER */
header  {
    background-color: black;
    background-image:  url("images/banner.jpg");
    background-size:  100%;
    background-position:   center;
    color: white;
    height: 400px;
    padding: 20px;
    text-align: center;
}

header a   {
    color: white;
    text-decoration:  none;
    text-transform:  uppercase;
    margin-top: 40px;
}

header .mobile {
    display:  none;
}

header .logo a  {
    background-image:  url("images/logo.png");
    background-size:  300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -99999px;
    top:  -12px;
    width: 300px;
}

/* RESPONSIVE RULES*/
@media screen and (max-width: 913px) {
    header {
        height:  250px;
        background-position:  0 -30px;
    }
    header .mobile {
        display:  inline-block;
    }
    header .desktop {
        display: none;
    }
}

@media screen and (max-width: 649px){
    header {
        height:  170px;
    }
}

/*FEATURES*/
.features   {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
}

.features figure    {
    margin: auto;
    text-align: center;
    text-transform:  uppercase;
    width:  200px;
}

.features figure img    {
    border: 1px solid white;
    border-radius:  50%;
    box-shadow:  gray  0 0 10px;
    width: 200px;
}

/*RESPONSIVE RULES*/
/* @media screen and (max-width: 913px)    {
    .features   {
        display: block;
    }
} */

footer  {
    background-color:  black;
    color:  white;
}