body    {
    font-family:  Helvetica Neue,   Helvetica,    Arial,    sans-serif;
}
ul  {
    list-style: none;
    padding: 0;
}
li{
    display:  inline-block;
}
section.feature-box{
    display: flex;
}
.feature-box div    {
    width:100%;
    margin:1px;
}
.feature-box.sales div {
    background: gray;
}
.feature-box.closeouts div   {
    background: red;
}
#frank  {
    font-size: 200%;
}